---
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 backdrop-blur-md border-b
  light:bg-white/85 light:border-gray-200/60 light:shadow-sm
  dark:bg-[#0b1121]/85 dark:border-[#1e2d50]/60 dark:shadow-lg">
  <nav class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <div class="lg:hidden">
      <Menu />
    </div>

    <div class="hidden lg:flex flex-1 justify-center">
      <Navigation />
    </div>

    <div class="ml-auto">
      <ThemeIcon />
    </div>
  </nav>
</header>
