---
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 backdrop-blur-sm border-b
  light:bg-white/90 light:border-gray-100
  dark:bg-[#0b1121]/85 dark:border-[#1e2d50]/40">
  <nav class="max-w-3xl mx-auto px-6 py-3 flex justify-between items-center">
    <div class="lg:hidden">
      <Menu />
    </div>

    <div class="hidden lg:flex flex-1 justify-center">
      <Navigation />
    </div>

    <div class="ml-auto">
      <ThemeIcon />
    </div>
  </nav>
</header>
