---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href={`${base}/favicon.svg`} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{pageTitle} | zyssnh</title>
  </head>

  <body class="min-h-screen antialiased">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script src="../scripts/menu.js"></script>
    <script src="../scripts/theme.js"></script>
    <script src="../scripts/copyCode.js"></script>
  </body>
</html>
